.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

}

.logo {
display: inline-flex;
padding-left: 30px;
align-items: center;
}

.logo span {
  color: MediumAquamarine;
  font-size: 14px;
  padding-left: 10px;
  display: inline;
}


nav {
display: inline;
margin-right: 10px;
}

nav a {
  color: black;
  margin: 30px;
}


/*body starts here*/

.content {
  display: flex;
  border: 1px solid black;
  width: 1232px;
  margin-top: 40px;
}

.column-large {
  width: 630px;
  display: inline-flex;
    flex-direction: column;
    margin-right: 32px;
  border: 1px solid black;
}

.stories {
  border: 1px solid black;
  
}

.column-medium {
  display: flex;
    flex-direction: column;
    margin-right: 32px;
  width: 300px;
  border: 1px solid black;
}

.column-small {
  display: inline-flex;
    flex-direction: column;
    margin-right: 32px;
  width: 240px;
  border: 1px solid black;
}

.image-content {
  border: 1px solid black;
}
